.section{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    padding: 4rem 0;
}
.section h1{
    color: var(--dark-grayish-blue);
    margin-bottom: 2rem;
}
.switch-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 14rem;
}
.switch-section span{
    color: var(--grayish-blue);
    font-weight: 600;
}

.cards-section{
    margin-top: 4rem;
    display: flex;
    align-items: center;
}

/*.cards-section:first-child{*/
/*    border-bottom-right-radius: 0;*/
/*    border-top-right-radius: 0;*/
/*}*/
/*.cards-section:last-child{*/

/*}*/