:root {
    --primary: linear-gradient(to right, #A3A8F0FF, #696FDDFF);
    --grayish-blue: #6D708DFF;
    --dark-grayish-blue:  #494C5FFF;
    --light-grayish-blue: #e2e3ea;
    --very-light-grayish-blue: #F6F6FEFF;
}

body {
  font-family: 'Montserrat', 'Helvetica Neue', sans-serif;
  background-color: #f6f7ff;
  font-size: 0.9rem;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
